<header class="banner">
    <div class="banner__content" style="background-image: url('{{banner.image}}');">
            <marquee>
                <p class="banner__text">
                {{banner.content}}
            </p>
            </marquee>
    </div>
</header>