<header id="header">
  <nav class="nav">
    <img id="dimerpha_logo" src="{{ '/static/icons/Dimerpha.svg' | url }}" alt="">
    <h4 class="nav__title">
      <a href="/home">
        <picture id="logo">
            <source srcset="/static/icons/kaex_white.png"/ media="(prefers-color-scheme: dark)">
            <img id="logo" alt="logo" src="/static/icons/kaex.png" />
        </picture>
      </a>
      <o> / {{title}} </o>
    </h4>
    <nav class="nav__links">
        <!-- <hr class="line"/> -->
        <ul class="nav__links">

        <!-- {% set relatedPosts = collections.all | filterByTags(tags) | excludeFromCollection(page.url) %} -->
        <!-- {% if relatedPosts.length %} -->
        <!--     {%- for post in relatedPosts -%} -->
        <!--         <li><a href="{{ post.url }}" data-tags="{{ post.data.tags | join(',') }}">{{ post.data.title }}</a></li> -->
        <!--     {%- endfor -%}   -->
        <!-- {% endif %} -->

        {% for link in collections.nav %}
            <li{% if link.url == post.url %} aria-current="page"{% endif %} class="sidebar__link">
              <a class="nav__link" href={{link.url}}>
                {{link.data.title}}
              </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
  </nav>
</header>