<style scoped>
    #logo {
        @media (prefers-color-scheme: light) {
            filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(105%);
    }
        @media (prefers-color-scheme: dark) {
          filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(105%);
      }
    }
</style>
<div id="sidebar" class="sidebar">
    <nav class="sidebar__nav">
        <div class="sidebar__heading">
            <a href="/home">
                <img class="sidebar__logo" alt="logo" src="/static/icons/banner.png" />
            </a>
        </div>
        {% block sidebar_toc %}
        <div class="sidebar__toc">

            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            {%- for tag in tags | filterTagList -%}
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {%- endfor %}
            <br/>
            
            {{content | toc | safe}}
        </div>
        {% endblock sidebar_toc %}

        {% block sidebar_tags %}
        <div>
            <h6 class="sidebar__tags__heading"> Tags </h6>
            {% for tag in collections.tagList %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="nav__taglist__button post-tag">{{ tag }}</a>
            {% endfor %}
            {% endblock sidebar_tags %} 
        </div>
        <p> See <a href="/tags"> all tags </a> </p>
    </nav>
</div>