/*
 * New epic colorscheme that desperately needs changing
 * ----------------------------------------------------
 * or should i?
 *
 */

fogra29 = #04151f
fogra39 = #010000
dimgray = #6b6d76
grullo = #a69888
rose = #FD3AAA
melon = #fcbfb7
charcoal = #334e58
midbluegreen = #ACF39D
sky = rgb(143, 197, 201)
jaundice = #ffee6d
blush = #fceeee

background-primary = fogra39 
// background-primary = linear-gradient(0deg, blue, green 40%, red) 
background-secondary = blush

text-primary = blush
text-secondary = fogra29

link-primary = rose
link-visited = grullo
link-hover = sky

default_radius = 0.25rem
display_font = "degular-text", Tahoma, 'Segoe UI', 'Apple Color Emoji', monospace // Github's system font stack
mono_font = "Iosevka", Fira Mono, 'Apple Color Emoji', monospace
sans_font = "ff-tisa-sans-web-pro",  Bitstream Vera Sans, sans-serif
serif_font = Veranda, serif

breakpoints = {
  sm: 436px,
  md: 628px,
  tb: 860px,
  lg: 1024px,
  xl: 1280px,
}

// ------------------
// scale factors
//

desktop_text_scale = 1.200rem
mobile_text_scale = 1.125rem

// responsively adjusts content to sidebar_width

sidebar_width = 280px

// ------------------
// general classes
//

.gap-1
    gap 2px
.gap-2
    gap 4px
.gap-3
    gap 6px
.gap-4
    gap 8px
.flex
    display flex
.m-auto
    margin auto
    align-items baseline