/* Base dark theme
  mixin pulled from ./abstracts/_colors.styl */

body,
html,
:root
  // filter saturate(1.24)

  background-color background-secondary
  font-smoothing subpixel-antialiased
  font-smooth always
  transition colors .5s ease
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -o-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  @media(prefers-color-scheme dark)
    background-color background-primary
    color text-primary
    a
      color rose

*
  box-sizing border-box

main
  display grid
  grid-template-columns repeat(8, 1fr)
  grid-template-columns: sidebar_width minmax(10px, 1fr);
  grid-gap 1rem

  align-items start

  padding-left 4px

  #metaimage
    max-width 100%
    max-height 450px
    object-fit cover
    @media only screen and (min-width breakpoints.md)
      max-width 850px

        

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track-piece
  background-color transparent

::-webkit-scrollbar-thumb
  background-color #656565
  outline 2px solid #fff
  outline-offset -2px
  border 0
  @media(prefers-color-scheme dark)
    background-color sky

::-scrollbar-thumb:hover
    background-color: #909090

/* Scanlines */
// body:before {
// 	content: "";
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	pointer-events: none;
// 	z-index: 1000;
// 	background-image: url("static/media/overlay.png");
// 	background-repeat: all;
// 	background-position: 0px 0px;
// 	animation-name: Static;
// 	animation-duration: 2s;
// 	animation-iteration-count: infinite;
// 	animation-timing-function: steps(4);
// 	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
// }
//
// body:after {
// 	content: "";
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	pointer-events: none;
// 	z-index: 1000;
// 	background-image: url("/static/media/overlay2.png");
// 	background-repeat: all;
// 	background-position: 0px 0px;
// 	animation-name: static;
// 	animation-duration: 0.8s;
// 	animation-iteration-count: infinite;
// 	animation-timing-function: steps(4);
// }
//
// @keyframes static {
// 	0% { background-position: 0px 0px; }
// 	100% { background-position: 0px 4px; }
// }