footer
  grid-row-start 2
  grid-column-start 2 
  grid-column-end span 5

  background-color background-secondary

  border-radius 24px

  display inline-flex
  flex-direction column
  justify-content space-around

  @media only screen and (prefers-color-scheme dark)
    background-color background-primary
  @media only screen and (max-width breakpoints.sm)
    flex-direction column
    grid-column-start 1
    grid-column-end span 3
  > p
    line-height 1.2
    padding-left .2em
    padding-right .6em
  .tag
    @media (prefers-color-scheme dark)
      border-color blush
    >a
      font sans_font
      font-weight bolder
    width 100%
    padding 8px
    display flex
    border 4px solid fogra39
    justify-content center
    align-items center
  img
    max-width 140px
    max-height 140px
    min-height 120px
    object-fit cover
    padding .6rem
    @media only screen and (max-width breakpoints.sm)
      overflow hidden
      display none
  .top
    display flex
    flex-direction row
  .content
    @media only screen and (max-width breakpoints.sm)
      flex-direction column
    flex-direction row
    margin .8rem
  .site_info
    display flex
    margin .8rem 0
    align-items center
    justify-content space-between
    &__inner
      justify-content space-evenly
    .links
      display flex
      flex-direction column
      padding-left 0
      &>a
        padding .2rem
    .row
      display flex
      flex-direction row
    .column
      margin-right 12px
      margin-left 12px
      display flex
      flex-direction column
