header
    margin-bottom 12px

    display inline-flex

    align-items center
    justify-content center
    border-bottom 4px midbluegreen solid

    #menu
        display none
        @media (max-width breakpoints.md)
            display inline-block

    #dimerpha_logo
        @media (prefers-color-scheme dark)
            display none

    > * {
        font-style bold italic
    }

    .line {
        min-width 8rem
    }

    .nav__link,a {
        padding 8px
    }

    .nav {
        margin auto
        width 100%
        align-items center
        justify-content center

        @media only screen and (max-width breakpoints.tb) {
            flex-direction column
        }

        #logo {
            max-height 128px
            @media (prefers-color-scheme light) {
                display none
            }
        }

        &__title {
            display inline-flex
            align-items center
        }

        &__links {
            display inline-flex
            width max-content 
            overflow-x scroll
            scroll-snap-type y mandatory
            display flex
            padding-left 0
            flex-direction row
            font-style bold italic

            >* {
                font-style oblique italic
            }
        }

        

        &__taglist {
            overflow-x hidden
            scroll-snap-type y mandatory
            scroll-behavior smooth
            display inline-flex
            flex-direction row
            @media (min-width breakpoints.tb) {
                display none
            }
            &__button {
                scroll-snap-align start
                margin-bottom 10px
                object-fit cover
            }
    }
}