.banner
    display inline-flex
    flex-direction column
    justify-content center
    align-items baseline    
    -webkit-box-shadow:0px 0px 105px 0px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
    &__content
        display flex
        width 100%
        justify-content center
        align-items center
    &__img
        // clip-path circle()
        width 120px
        height 120px
        border-radius 100%
        overflow hidden
        border 2px solid grullo
        align-self center
        justify-self center
    &__text
        text-wrap wrap
        background-color black
        font-weight bold
        font-style italic