.sidebar {
    
    accent = rose

    border-right 4px solid rose
    border-radius 0px 18px 18px 0px
    border-left 4px solid rose
    transform skew(0deg)

    @media only screen and (prefers-color-scheme dark) {
        background-color background-primary
    }

    @media only screen and (min-width breakpoints.sm) {
        visibility hidden
        display none
    }

    @media only screen and (min-width breakpoints.tb) {
        grid-column-start 1
        grid-column-end 3
        
        display block
        visibility visible
    }

    visibility hidden
    display none


    grid-row-start 1

    max-width sidebar_width
    min-width sidebar_width

    position sticky

    top 0

    height 42rem
    overflow-y scroll

    
    gap .5em

    &__toc {
        width 100%
        display inline-flex
        flex-direction column
        justify-content center
        align-items center
        gap .5rem

        time {
            background-color rose
            color black
            padding 1rem
            width 100%
            text-align center
            transition all 1s ease

            &:hover {
                background-color midbluegreen
            }
        }

        

        .post-tag {
            width 90%
            padding 8px
            color charcoal
            font-style italic
            font-weight bold
        }
    }

    &__tags__heading {
        font-family mono_font
        background-color rose
        color black
        padding 1rem
        width 100%
        text-align center
        transition all 1s ease
    }


    &__nav {
        background-color background-secondary
        height 100%

        @media (prefers-color-scheme dark) {
            background-color background-primary
        }
    }

    &__logo {
        max-width 100%
        max-height 128px
    }

    &__heading {
        background-color background-secondary
        @media (prefers-color-scheme light) {
            filter invert(100%)
        }

        .nav {
            padding-bottom 20px
            background-color background-secondary

            &__hr {    
                -webkit-box-shadow:0px 0px 105px 0px rgba(45,255,196,0.9);
                -moz-box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
                box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
            }

            &__description {
                padding-left 0.6rem
                padding-top 20px
                background-color background-secondary
                box-shadow 0px 10px 0px rose
            }

            &__link {

                list-style-type kannada

                @media only screen and (max-width breakpoints.md) {
                    list-style-type none
                    gap 4
                    padding-right 12px
                }
            }

            &__links {

                padding-top 20px

                display inline-flex
                flex-direction column
                gap 4

                position relative

                &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  transform: scaleX(0);
                  height: 2px;
                  bottom: 0;
                  left: 0;
                  background-color: #0087ca;
                  transform-origin: bottom right;
                  transition: transform 0.25s ease-out;
                }

                &:hover::after {
                  transform: scaleX(1);
                  transform-origin: bottom left;
                }

                @media only screen and (max-width breakpoints.md) {
                    flex-direction row
                    list-style-type none
                }
            }
        }
    }
    &__bottom {
        background-color background-primary
        height auto
        text-align center
    }
}