---
title: Portfolio
description: A portfolio of professional history.
date: 2023-12-05
tags: contact
---

{% renderTemplate "md" %}
# Kae's resumé can be found [here](/static/content/resume.pdf)
{% endrenderTemplate %}

<div style="">
    <hr/>
    <h2> <u>Experience</u> </h2>
    <p> Below is a total list of my working experience. This will be continually updated as my career progresses. </p>

    <span style="display:inline-flex; align-items:baseline; gap: 12px;">
    {% for placement in work | reverse %}
        <h3> <em>{{placement.name}}</em> </h3>
        <span>
        {%- for date in placement.dates %}
            <date>{{date}}</date>
        {%- endfor %}
        </span>
    </span>
    <br/>
    <img width="250px" alt={{placement.name}} src={{placement.image}} />
    <p> {{placement.duties}} </p>
    {%- for skill in placement.skills %}
        <button class="fail"> {{skill}} </button>
    {%- endfor %}
    <span><h4> Reason for leaving: </h4>
    <strong> {{placement.left}} </strong>
    <br/>
    <br/>
    <br/>
    {% endfor %}

    <hr/>
    <h2> <u>Projects</u> </h2>
    <p>
        This is a comprehensive list of projects I have worked on,
        or at least feel notable enough to be mentioned.
    </p>
</div>

{% macro field(name, tags, image, description, url, repository) %}
<div class="card">
    <h1 class="card__title"><a href={{url}}>{{name}}</a></h1>
    <a href={{url}}>
        <img class="card__img" alt="project" src={{image}} />
    </a>
    <br/>
    <strong>Tags:</strong>
    {% for tag in tags %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <button>
            <a href={{tagUrl | url}}>[{{tag}}]</a>
        </button>
    {% else %}
        <p>Uncategorised!</p>
    {% endfor %}
    <p class="card__description">
        {{description}}
    </p>
    <br/>
    <small> >>See <a href={{repository}}>{{name}}</a>'s repo</small>
</div>
{% endmacro %}

<ol reversed class="card-grid" style="counter-reset: start-from {{ (postlistCounter or postlist.length) + 1 }}">
{% for project in projects %}
    {{ field(project.name, project.tags, project.image, project.description, project.url, project.repository) }}
{% endfor %}
</ol>


<h2> Backstory </h2>

 
{% renderTemplate "md" %}

Since I were a wee lass, I was for some reason always breaking computers.
At an early age I was already running my first lines of code, making simple javascript-based web games.
Taking a knack for it later own, I'd go on and developed a variety of other projects, like:

- A javascript-based midi keyboard player using the browser's `AudioContext/1`, which helped with learning how to play piano
- First cookie-clicker style game, growing a factory of lego .
- Miscelaneous networking tools with Python, see [github](https://github.com/awooff)

This interest eventually bled into gaming, once I got my first gaming laptop at 16.
I'd created several missions for Arma 3, including a mini stand-alone game built in the
Eden Editor, involving heavy `SQF` scripting (including `Python`) and custom music, sounds, voice lines, etc.

Taking these projects, I then wished to have them played amongst my friends, and so,
I was quickly exposed to Linux and system administration: learning how to secure my servers against various trolls, hackers and other bad actors, learning defensive programming and server scripting in order to keep up the server uptime.
I'd learn tools such as:

- `iptables` : for port and network security
- `fail2ban` : for kicking off unwarranted ssh connection bruteforce attempts
- `ssh-jail` : (a very cool tool to hold any infiltrator in a permanent loop of trying to connect and failing, yet being unable to exit, hence ssh-jail.), 
- `wireguard` : securing all incoming connections to the server, preventing MiTM
- `docker` : running custom server code deployed in `Dockerfile`s.
- `tcpdump` : dumping a list of all incoming network packets (base linux utility)

This would then also lead into learning these offensive tools myself, in order to test my own security.
I learned tools such as:

- **`msfconsole`** : an exploitation framework with a plethora of exploits from [exploit.db](https://exploitdb.com), mostly written in `ruby`
- **`johntheripper`** : rainbow files-based password cracking
- **`burpsuite`** : intercepting and relaying network requests
- **`php`** : server language used in 60% of websites on the web. 58% of those are Wordpress. 60% of sites on the web are vulnerable to a lot of exploits.
- **`wireshark`** :  like `tcpdump` but with a prettier interface, and advanced filtering
- **`python`** : efficient for writing networking and tunnelling tools, keyboard loggers etc.
- **`arp-scan`** : ARP poisining tool, useful for finding targets on local networks.
- **`recon-ng`** : Recon tool for networks - scans databaes, ports etc.
- **`aircrack-ng`** : Cracking / breaking into external access points


... among many others.

It's not until my time with Audiocover, and then 0x0z would these skills be tested in a corporate environment, where I was responsible for securely setting up a variety of Linux servers to host our client websites, testing servers etc.
These two companies would also then go on to test my skills in programming, where I'd go on and learn ++React++, ++TypeScript++, ++Next.JS++ and many other frontend and backend tools.

My full tech stack would include:

- **`TypeScript`** : Writing frontend React code, as well as tools programming on [Gaia]
- **`React`** : A full setup would use one or many of these:
    - Bootstrap
    - TailwindCSS
    - Radix-UI
    - React-Router
    - Zustand
    - Jotai
    - Zod
- **`Express`** : Tools would include:
    - Pino / pino-pretty
    - Prisma
    - Zod
- **`PostgreSQL`**
- **`Kubernetes`**
- **`Nix`**
- **`Docker`**



{% endrenderTemplate %}


</div>