a
  color rose
  // font-famiy display_font
  text-decoration none
  -ease-transition(color)
  transition all .5s ease
  font-style oblique
  text-decoration-thickness 2px
  &:hover
    text-decoration underline
    text-decoration-thickness 4px
    text-decoration-color jaundice
    color link-hover
a[href*='//']
  font-style bold
  &:before
    content: ''
  &:after
    content: '✧'

