-table-value($exponent) 
  padding $exponent
  margin 1em / $exponent 0

-theme($accent)
  // color $accent
  border-color darken($accent, 0.2)

table
  @media (max-width breakpoints.md)
    max-width 32rem
  max-width 100%
  margin 1.6em 0
  padding 1.8rem
  border-spacing 0.5rem
  border-collapse collapse
  font-family display_font
  text-align center
  td
    -table-value(1.2em)
    // color melon

    border-bottom 2px dashed
    for iter in (0..6)
      &:nth-child({iter})
        -theme(rose)
  tr
    padding 0.2em
    border-color melon
    border-spacing 0.2rem
  th
    -table-value(0.2)
    border-bottom 1.5px solid
    font-style oblique italic
    padding 0 1em 0.4em 0
  

  