h1
h2
h3
h4
h5
h6
p
li
td
tr
th
strong
em
i
date
  font-family serif_font
  line-height 1.6
  margin .45rem auto .45rem 0


*
    font-synthesis weight style small-caps oblique italic
p
  margin .85rem 0
  padding-top 4px
  padding-bottom 4px
  >code
    border 1px grullo dashed
    font-style italic
    font-family display_font

// Cute hack we found for scaling header tags programatically~
for i in (1..6)
  h{i}
    text_scale_size (6.2rem - i)
    font-family sans_font

small
  text_scale_size(-0.5)

pre
  white-space wrap

i
  font-style italic

u
  text-decoration underline jaundice

em
  font-style bold

time
  font-family mono_font
  font-weight 100

strong
  font sans_font
  font-weight 600
  &>*
    content none

// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote
-blockquote-theme()
  background background-secondary
  border-left 10px solid #ccc
  margin 1.5em 10px
  padding 0.5em 5px
  quotes "\201C""\201D""\2018""\2019"
  p
    font-style italic
    display inline
  &:before
    color #ccc
    content open-quote
    font-size 4em
    line-height 0.1em
    margin-right 0.25em
    vertical-align -0.4em
  @media(prefers-color-scheme: dark)
    background-color background-primary
    color text-primary

em
  font-style italic

ol
  margin 0
  padding 0
  &>li
    list-style georgian inside
    &>ol>li
      list-style-type lower-roman
      &>li
        list-style-type lower-alpha
    &:before
      content none

ul >li:not(.sidebar__link)
  list-style-type "  -  "

hr
  display block
  border-top 1px solid rgba(245, 229, 229, 0.575)
  unicode-bidi isolate
  margin-block-start 0.5em
  margin-block-end 0.5em
  margin-inline-start auto
  margin-inline-end auto
  overflow hidden
  border-style inset
  border-width 1px
  margin 1em 0

p,
.tmpl-post li
  line-height: 1.45

small
  font-family display_font
  font-display small-caps
  line-height 1.2

details
  display flex

details >summary
  display inline-block
  margin auto
  padding 2px
  font-size 18px
  &span:before
    content "{"
  &span:after
    content "}"
  &span>cite
    font-size 16px
  &:before
    content " ᐳ "
    padding-right 8px
    padding-top 8px
    &[open]
      content "#"

details[open]
  &>summary:before
    content " ᐯ "

article
  margin 2.5vw
  width 45%
  @media only screen and (max-width breakpoints.lg)
    width 90%

figcaption
  font-family sans_font
  font-size 13px
  padding-top 8px
  border-top thin silver solid

caption
  display flex
  gap 4px
  justify-content space-around
  align-items start

::selection
  background midbluegreen

.glow
  -webkit-animation glow 1s ease-in-out infinite alternate
  -moz-animation glow 1s ease-in-out infinite alternate
  animation glow 1s ease-in-out infinite alternate

@-webkit-keyframes glow
  from
    text-shadow 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  to
    text-shadow 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;